<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Home Page</h1>
        <h2>{{ result }}</h2>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='home.js')}}"></script>
</body>


<table>
    <tr>
        <td>
            Please enter your current grade:<br>
            <input type="number" id="grade" value=80><br>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td><button type="button">Calculate!</button></td>
    </tr>
</table>

</html>